main {
    background-color: var(--color-fondo);
    font-family: 'Open Sans';
}

.container2 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .hero {
        display: flex;
        justify-content: space-between;
    }
}

.hero article {
    width: 32%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;

    figure {
        display: flex;
        justify-content: center;

        img {
            width: 330px;
            height: 380px;
        }
    }
}

.productos article {
    width: 24%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;

    figure {
        display: flex;
        justify-content: center;

        img {
            width: 330px;
            height: 380px;
        }
    }
}

.productos2 article {
    width: 49%;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;

    figure {
        display: flex;
        justify-content: center;

        img {
            width: 490px;
            height: 570px;
        }
    }
}

